/* You can add global styles to this file, and also import other style files */

.page-title {
    background: #f6f7f9;
    height: 150px;
    padding-top: 15px;
}

.theme-btn {
    background-color: #33a8dc !important;
    border: 2px solid #33a8dc !important;
}


.mng-jb {
    display: block;
    margin-left: 0;
    position: inherit;
    bottom: 0;
    font-size: 12px;
    opacity: 1;
	color:#000;
}

.u-content h5 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}


.grid-job-widget {

    margin-bottom: 30px;
}


.full-page {

    min-height: 100vh;
}

.box {
    border-radius: 0.8rem !important;
}

body {
    overflow-y: scroll;
    overflow-x: auto;
}


.dropdown-toggle {
    border-radius: 5px;
}
