

.btn {
    text-align: left;
}


table .td {
    border: 0.1px solid #707f8c;
    padding:0.2rem;
}

table.payslip {
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #707f8c; */
    color: #000;
    font-size: 12px;
    /* font: 13px 'Helvetica'; */
}

.bord {
    color: #000;
    border: 0.1px solid #707f8c;
    margin: 0 0.2rem 0 0.2rem;
    font-size: 12px;
}

.bord .col {
    border-bottom: 0 !important;
    padding: 0 0.3rem 0 0.3rem;
}

.sidebrd {
    border-left: 0.1px solid #707f8c;
    border-right: 0.1px solid #707f8c;
}

.brd-top {
    border-top: 0.1px solid #707f8c;
}

.brd-btm {
    border-bottom: 0.1px solid #707f8c;
}

.all-brd th {
    border-bottom: 0.1px solid #707f8c;
    border-top: 0.1px solid #707f8c ;
}