<section class="gray full-page">
	<div class="container">
		<div class="row">

			<!-- Input Form -->
			<div class="box">
				<div class="col-md-12 col-sm-12">
					<div class="box-header">
						<h4>Enter Details</h4> 
					</div>
					<!-- Form Data -->
					<div class="box-body">
						<div class="row text-center" style="border-bottom:0;">
							<form [formGroup]="InvoiceForm" (ngSubmit)="onSubmit()">
								<div class="col-md-6">
									<table class="table table-bordered input-text-pad" style="width:100%">
										<tr>
											<td colspan="2">Seller Details</td>
										</tr>
										<tr>
											<td style="width:20%">Seller Name</td>
											<td style="width:15%"><input type="text" class="form-control input-text" size="10"
												formControlName="SellerName" #sellername></td>
										</tr>
										<tr>
											<td style="width:20%">Seller Phone</td>
											<td style="width:15%"><input type="text" class="form-control input-text" size="10"
												formControlName="SellerPhone" #sellerphone></td>
										</tr>
										<tr>
											<td style="width:20%">Seller Address</td>
											<td style="width:15%"><input type="text" class="form-control input-text" size="10"
												formControlName="SellerAddress" #selleraddress></td>
										</tr>
									</table>
								</div>
								<div class="col-md-6">
									<table class="table table-bordered input-text-pad" style="width:100%">
										<tr>
											<td colspan="2">Buyer Details</td>
										</tr>
										<tr>
											<td style="width:20%">Buyer Name</td>
											<td style="width:15%"><input type="text" class="form-control input-text" size="10"
												formControlName="BuyerName" #buyername></td>
										</tr>
										<tr>
											<td style="width:20%">Buyer Phone</td>
											<td style="width:15%"><input type="text" class="form-control input-text" size="10"
												formControlName="BuyerPhone" #buyerphone></td>
										</tr>
										<tr>
											<td style="width:20%">Buyer Address</td>
											<td style="width:15%"><input type="text" class="form-control input-text" size="10"
												formControlName="BuyerAddress" #buyeraddress></td>
										</tr>
									</table>
								</div>
								<div class="col-md-12">
									<table class="table table-bordered input-text-pad" style="width:100%">
										<tr>
											<td style="width: 80%;">Item Details</td>
											<td><button type="button" (click)="addItem()">Add</button></td>
										</tr>
									</table>
									<div formArrayName="items">
										<table class="table table-bordered input-text-pad" style="width:100%">
											<div *ngFor="let items of items.controls; let i=index">
												<tr [formGroupName]="i">
													<td style="width: 10%;">{{i+1}}</td>
													<td style="width: 30%;"><input type="text" placeholder="Product Name" formControlName="name"></td>
													<td style="width: 20%;"><input type="number" placeholder="Quantity" formControlName="quantity"></td>
													<td style="width: 20%;"><input type="number" placeholder="Product Price" formControlName="price"></td>
													<td style="width: 20%;"><input type="number" placeholder="Tax (Rs.)" formControlName="tax"></td>
													<td style="width: 10%;"><button (click)="removeItem(i)">Remove</button><td></td>
												</tr>
											</div>
										</table>
									</div>
								</div> 
								<button class="btn btn-radius theme-btn full-btn" type="submit">Generate Slip</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Form End -->


			<!-- SLIP START -->
			<div class="box" *ngIf="slipview">
				<div class="col-md-12 col-sm-12">
					<div class="box-header">
						<div class="col-md-4 col-sm-4">
							<h3>Download Receipt: </h3></div>
						<div class="col-md-1 col-sm-1"><a class="btn btn-radius theme-btn" (click)=downloadSal()>Download Slip</a></div>
					</div>
					
					<!-- SLIP DISPLAY -->
					<div class="box-body" >
						<div class="box" id="Slip">
							<table class="table brd-top brd-btm sidebrd" style="width: 100%;">
								<tr>
									<td colspan="4">Invoice Number: </td>
								</tr>
								<tr class="brd-top">
									<td colspan="4">Invoice Date: &nbsp; {{Date}}</td>
								</tr>
								<tr class="brd-top">
									<td class="text-center sidebrd" colspan="2">Seller</td>
									<td class="text-center" colspan="2">Buyer</td>
								</tr>
								<tr class="brd-top">
									<td colspan="2" class="sidebrd">{{InvoiceFormData.SellerName}}</td>
									<td colspan="2" class="sidebrd">{{InvoiceFormData.BuyerName}}</td>
								</tr>
								<tr>
									<td colspan="2" class="sidebrd">{{InvoiceFormData.SellerAddress}}</td>
									<td colspan="2" class="sidebrd">{{InvoiceFormData.BuyerAddress}}</td>
								</tr>
								<tr>
									<td colspan="2" class="sidebrd">{{InvoiceFormData.SellerPhone}}</td>
									<td colspan="2" class="sidebrd">{{InvoiceFormData.BuyerPhone}}</td>
								</tr>
								<tr class="brd-top brd-btm">
									<td style="width: 25%;" class="sidebrd">S.No</td>
									<td style="width: 25%;" class="sidebrd">Product</td>
									<td style="width: 25%;" class="sidebrd">Quantity</td>
									<td style="width: 25%;" class="sidebrd">Amount</td>
								</tr>
								<tr *ngFor="let items of InvoiceFormData.items; let i=index">
									<td class="sidebrd">{{i+1}}</td>
									<td class="sidebrd">{{InvoiceFormData.items[i].name}}</td>
									<td class="sidebrd">{{InvoiceFormData.items[i].quantity}}</td>
									<td class="sidebrd">{{InvoiceFormData.items[i].amount}}</td>
								</tr>
							</table>
						</div>
					</div>
					<!-- Slip Display End -->

				</div>
			</div>
			<!-- Slip end -->

		</div>
	</div>
</section>
